<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.steventan.logindemo.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id property="userId"           column="user_id"/>
        <result property="loginName"    column="login_name"/>
        <result property="username"     column="username"/>
        <result property="salt"         column="salt"/>
        <result property="password"     column="password"/>
        <result property="delFlag"      column="del_flag"/>
    </resultMap>

    <select id="selectUserList" resultMap="UserMap">
        select user_id,login_name,username,salt,password,del_flag
        from user
    </select>

    <select id="selectUserByName" parameterType="String" resultMap="UserMap">
        select user_id,login_name,username,salt,password,del_flag
        from user
        where login_name=#{loginName}
    </select>

    <insert id="addUser" parameterMap="UsersMap">
        insert into user(
                login_name,
                username,
                salt,
                password,
                del_flag
            )
        values(
            #{loginName},
            #{username},
            #{salt},
            #{password},
            #{delFlag}
        )
    </insert>


</mapper>