<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <link href="layui/css/layui.css">
</head>
<body>
<a style="float: right; margin-right: 10px" th:href="@{/logout}">
<img src="images/logout.svg" width="30px" alt="注销" title="注销">
</a><br>
<h1 style="text-align: center">欢迎登录</h1>
<h2 style="text-align: center"><shiro:principal property="username"/></h2>

</body>
</html>