<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/layui/style/admin.css}">
    <link rel="stylesheet" th:href="@{/layui/style/login.css}">
</head>
<body>
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>用户注册</h2>
            <p>用户管理系统</p>
        </div>
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label">登录名称</label>
                <div class="layui-input-block">
                    <input type="text" name="loginName" id="loginName" placeholder="字母和数字组成长度小于10"
                           class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="username" id="username" placeholder="汉字或字母数字组成长度小于10"
                           class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="password"></label>
                <input type="password" name="password" id="password" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="pwdConfirm"></label>
                <input type="password" name="pwdConfirm" id="pwdConfirm" placeholder="确认密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男" checked>
                    <input type="radio" name="sex" value="女" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="phone"></label>
                <input type="text" name="phone" id="phone" placeholder="电话" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="email"></label>
                <input type="text" name="email" id="email" placeholder="邮箱" class="layui-input">
            </div>
            <div class="layui-form-item">
                <button id="login" class="layui-btn layui-btn-fluid" lay-submit lay-filter="login-submit">注 册
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>